.group {
	display: grid;

	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
		'heading'
		'posts';

	gap: var(--space);
	padding-bottom: var(--space);
	/*
	@media (--v-md) {
		grid-template-columns: 1fr 4fr;
		grid-template-rows: auto 1fr 32px;
		grid-template-areas:
			'heading heading'
			'. posts';
	} */
}

.headingContainer {
	display: flex;
	grid-area: heading;
	font-size: 36px;
}

.posts {
	grid-area: posts;

	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--space);
}
