.group {
	display: grid;

	grid-template-columns: 1fr 4fr;
	grid-template-rows: auto 1fr 32px;
	/* grid-auto-rows: minmax(200px, max-content); */

	gap: 32px;
}

.headingContainer {
	display: flex;

	grid-area: 1 / 2;

	font-size: 36px;
}

.heading {
	color: var(--color-theme);
	line-height: 1;

	font-weight: var(--fw-semibold);
}

.posts {
	grid-area: 2 / 1 / 2 / span 2;
}
