.group {
	display: grid;

	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
		'heading'
		'posts';

	gap: var(--space);
	padding-bottom: var(--space);

	@media (--v-md) {
		grid-template-columns: 1fr 4fr;
		grid-template-rows: auto 1fr 32px;
		grid-template-areas:
			'heading heading'
			'. posts';
	}
}

.headingContainer {
	display: flex;
	grid-area: heading;
	font-size: 36px;
}

.heading {
	color: rgb(var(--color-main));
	line-height: 1;

	font-weight: var(--fw-light);
	font-family: var(--font-sans);
	font-size: clamp(28px, 5vw, 36px);
}

.posts {
	grid-area: posts;
}
