.grid {
	min-height: 55vh;

	display: grid;
	grid-template-rows: 1fr auto auto 1fr;
	gap: var(--space);
	grid-template-areas:
		'.'
		'header'
		'content'
		'.';

	@media (--v-md) {
		grid-template-rows: 1fr repeat(2, auto) 1fr;
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas:
			'. . .'
			'header header .'
			'. content content'
			'. . .';
	}

	@media (--v-xl) {
		grid-template-columns: repeat(4, 1fr);

		grid-template-areas:
			'. . . .'
			'header header header . '
			'. content content content'
			'. . . .';
	}
}

.header {
	grid-area: header;
}

.content {
	grid-area: content;
}
