.page {
	position: relative;
	min-height: 100vh;
	width: 100%;
	top: 0;

	z-index: 10;
}

.wipe {
	position: fixed;
	width: 150vw;
	height: 100vh;
	z-index: 1000;

	top: 0;
	/* left: -150vw; */

	background-color: rgb(var(--color-1));

	/* transform: rotate(90deg); */
}
