.shared {
	position: relative;
	z-index: 1;

	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
}

.main {
	grid-area: main;
}

.section {
	grid-area: section;
}

.main + .section,
.section + .section {
	margin-top: calc(var(--space) * 5);
}
