.main {
	grid-area: main;

	position: relative;
	z-index: 1;

	/* padding-right: calc(var(--space));
	padding-top: calc(var(--space)); */
}

.section {
	grid-area: section;

	position: relative;
	z-index: 1;

	@media (--v-md) {
		/* padding-right: calc(var(--space)); */
		/* padding-top: calc(var(--space)); */
	}
}

.main + .section,
.section + .section {
	margin-top: var(--space);
}

/* .grid {
	display: grid;
	grid-template-columns: 1fr;

	grid-auto-rows: 1fr;
	gap: var(--space);

	& + & {
		margin-top: calc(var(--space) * 5);
	}

	@media (--v-md) {
		grid-template-columns: repeat(6, 1fr);
		padding-right: calc(var(--space) * 2);
	}

	@media (width > 1800px) {
		padding-right: var(--space);
	}
} */
/*
.gridArea {
	position: relative;
} */
