.layout {
	display: grid;
	grid-template-columns: minmax(var(--space), 1fr) minmax(min-content, 1080px) minmax(
			var(--space),
			1fr
		);
	grid-template-rows: 1fr;
	grid-template-areas: '. content .';

	position: relative;

	z-index: 1;
}

.layoutInner {
	grid-area: content;
}

.section {
	position: relative;
}

.section + .section {
	margin-top: var(--space2);
}
