@import 'normalize.css';
@import './preflight.css';

@custom-media --v-bl (width >= 480px);
@custom-media --v-md (width >= 768px);
@custom-media --v-lg (width >= 1024px);
@custom-media --v-xl (width >= 1200px);

:root {
	--font-headline: 'Josefin Sans', sans-serif;
	--font-body: 'Lato', serif;
	--fw-bold: 700;
	--fw-semibold: 600;
	--fw-regular: 400;
	--fw-light: 300;
	--fw-thin: 100;

	--color-1: 126, 86, 242; /* #7E56F2 */
	--color-2: 229, 107, 112; /* #E56B70 */
	--color-3: 108, 212, 255; /* #6CD4FF */

	--color-black: 48, 54, 51; /*#303633 */
	--color-white: 244, 244, 244;

	--space: 1rem;

	@media (--v-md) {
		--space: 1.5rem;
	}

	@media (--v-lg) {
		--space: 2rem;
	}
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: rgba(255, 255, 255);

	line-height: 1.66;

	background-color: #fff;
}

body {
	min-height: 100vh;

	font-family: var(--font-body);
	font-weight: var(--fw-regular);
}
