@import 'normalize.css';
@import './preflight.css';

:root {
	--font-josefin: 'Josefin Sans', sans-serif;
	--fw-bold: 700;
	--fw-semibold: 600;
	--fw-regular: 400;

	--color-main: #7e56f2;
	--color-secondary: #ff5c93;
	--color-white: #fff;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: rgba(255, 255, 255);

	line-height: 1.25;

	background-color: #fff;
	/* scroll-behavior: smooth; */
}

body {
	min-height: 100vh;

	font-family: var(--font-josefin);
}
