.header {
	grid-area: title;

	z-index: 20;

	display: flex;
	align-items: center;

	@media (--v-md) {
		position: fixed;
		right: var(--space);
		top: var(--space);
	}
}

.title {
	font-family: var(--font-headline);
	text-transform: uppercase;
	font-weight: var(--fw-light);
	line-height: 0.775;

	white-space: nowrap;

	color: rgb(var(--theme-primary));

	padding-right: 0.1em;

	transition: color 0.5s ease-in-out;

	transform-origin: bottom left;
}

.vertical .title {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-size: 9vh;

	@media (--v-md) {
		font-size: 10vh;
	}
}

.horizontal .title {
	font-size: clamp(32px, 10vw, 64px);
}

.link {
	display: block;
}
