.header {
	grid-area: title;

	z-index: 10;

	@media (--v-md) {
		position: fixed;
		right: var(--space);
		top: var(--space);
	}
}

.title {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-size: 9vh;
	text-transform: uppercase;
	font-weight: var(--fw-bold);
	line-height: 0.775;

	white-space: nowrap;

	color: rgb(var(--theme-primary));

	padding-right: 0.1em;

	pointer-events: all;

	/* right: 0;
	top: 32px; */

	transition: color 0.5s ease-in-out;

	@media (--v-md) {
		font-size: 10vh;

		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
	}

	&.workMode {
		color: white;
	}
}

.link {
	display: block;
}
