.group {
	grid-area: links;

	padding: 0px 10px;

	pointer-events: all;

	display: grid;
	gap: var(--space);
	grid-auto-columns: min-content;
	grid-template-rows: 1fr;

	grid-auto-flow: column;

	border-radius: 20px;
	backdrop-filter: blur(10px);

	width: max-content;

	color: var(--color-theme);
	transition: color 0.2s ease-out;
}

.link {
	font-weight: var(--fw-semibold);
	font-size: 24px;

	display: block;

	box-shadow: 'inset 0px 4px 0px rgba(0, 0, 0, 0.0)';
	border-radius: 0.75em;

	display: flex;
	align-items: center;

	padding: 10px;
}

.external {
	@media (width < 768px) {
		display: none;
	}
}

.active {
	text-decoration: underline;
}

.icon {
	width: 32px;
	height: 32px;
	display: block;

	@media (--viewport-tablet) {
		width: 48px;
		height: 48px;
	}
}
