.layoutContainer {
	position: relative;
	overflow: hidden;
	pointer-events: none;

	width: 100%;
	min-height: 100vh;

	top: 0;
	left: 0;
}

.layout {
	max-width: 1440px;
	width: 100%;

	margin: 0 auto;

	--vertical-space: 32px;
}

.main {
	pointer-events: all;

	padding: var(--vertical-space);
	padding-top: calc(var(--vertical-space) * 3);
}

.grid {
	min-height: calc(100vh - var(--vertical-space) * 4);

	display: grid;
	grid-template-columns: repeat(6, 1fr);

	gap: var(--vertical-space);

	& + & {
		margin-top: var(--vertical-space);
	}
}

.gridArea {
	position: relative;
}

.anchor {
	position: absolute;
	left: 0;
	top: -128px;
}
