.layoutContainer {
	position: relative;
	overflow: hidden;
	pointer-events: none;

	width: 100%;
	min-height: 100vh;

	top: 0;
	left: 0;
}

.main {
	pointer-events: all;

	min-height: 100vh;

	padding-top: calc(var(--space) * 4);
}

.grid {
	max-width: 1440px;
	width: 100%;

	padding-left: var(--space);
	padding-right: var(--space);
	margin: 0 auto;
	/* min-height: calc(100vh - var(--space) * 5); */

	display: grid;
	grid-template-columns: 1fr;

	/* grid-template-rows: 1fr repeat(2, min-content) 1fr; */
	grid-auto-rows: 1fr;
	gap: var(--space);

	& + & {
		margin-top: var(--space);
	}

	@media (--viewport-tablet) {
		grid-template-columns: repeat(6, 1fr);
	}
}

.gridArea {
	position: relative;
}

.anchor {
	position: absolute;
	left: 0;
	top: -128px;
}
