.heading {
	/* font-size: 62px; */
	font-size: clamp(42px, 10vw, 62px);
	font-weight: var(--fw-semibold);
	line-height: 0.9;
	letter-spacing: -0.03em;

	color: rgb(var(--color-main));
}

.heading span {
	display: block;
}
