.holder {
	display: flex;

	& + & {
		margin-top: 1rem;
	}
}

.link {
	position: relative;
}

.nametag {
	color: rgb(var(--color-main));

	z-index: 1;

	font-size: 4rem;
	font-weight: var(--fw-bold);
	font-family: var(--font-sans);
}
