.holder {
	background-color: rgba(var(--color-2));

	box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.3);

	display: flex;
	align-items: stretch;
}

.link {
	position: relative;
	display: block;

	width: 100%;

	padding: 4rem 0.5rem 0.5rem;
}

.nametag {
	color: rgb(var(--color-white));

	font-size: clamp(1.5rem, 5vw, 2.5rem);
	font-weight: var(--fw-light);
	font-family: var(--font-headline);
	line-height: 1;
}
