.header {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;

	pointer-events: none;

	z-index: 10;
}

.h1 {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-size: 12vh;
	text-transform: uppercase;
	font-weight: var(--fw-bold);
	line-height: 0.775;

	color: var(--color-main);

	position: absolute;
	/* height: 100%; */
	padding: 0 4rem 0;

	pointer-events: all;

	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;

	&.right {
		right: 0;
	}

	&.left {
		left: 0;
	}
}

.link {
	display: block;
}
