.mdx {
	h1 {
		font-size: 62px;
		font-weight: var(--fw-semibold);
		line-height: 1.1;
		letter-spacing: -3%;
	}

	p {
		line-height: 1.1;
		font-size: 22px;
	}

	em {
		font-style: normal;
		font-weight: 600;
		color: var(--color-main);
	}

	a {
		text-decoration: underline var(--color-secondary) dashed;

		&:hover {
			text-decoration: none;
			color: var(--color-secondary);
		}
	}
}

.default {
	color: #fff;

	p + p {
		margin-top: 1em;
	}
}

.home {
	color: #000;

	h2 {
		font-size: 36px;
	}
}
