.button {
	padding-left: 2rem;
	padding-right: 2rem;

	padding-top: 1rem;
	padding-bottom: 1rem;

	text-align: center;
	text-transform: uppercase;

	border-width: 2px;
}

.link {
	display: block;
	perspective: 1000px;
}
