.box {
	position: relative;
	border-radius: 2rem;

	box-shadow: 9px 9px 18px #bababa;
}

.padding_32 {
	padding: 2rem 1.5rem;
}
.padding_24 {
	padding: 1.5rem;
}

.type_none {
	background-color: transparent;
}

.type_primary {
	background-color: var(--color-main);
}

.type_secondary {
	background-color: var(--color-secondary);
}

.type_blur {
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blue(10px);
}

.fill {
	height: 100%;
	overflow: hidden;
}
