.mdx {
	h1,
	h2,
	h3 {
		font-weight: var(--fw-semibold);
		line-height: 0.9;
		letter-spacing: -3%;
	}

	h1 {
		/* font-size: 62px; */
		font-size: clamp(42px, 10vw, 62px);
	}

	h2 {
		font-size: 36px;
		font-size: clamp(28px, 8vw, 36px);
	}

	p {
		line-height: 1.1;
		font-size: 22px;
		font-size: clamp(18px, 5vw, 22px);
	}

	em {
		font-style: normal;
		font-weight: 600;
		color: rgb(var(--color-main));
	}

	a {
		text-decoration: underline rgb(var(--color-secondary)) dashed;

		&:hover {
			text-decoration: none;
			color: rgb(var(--color-secondary));
		}
	}
}

.default {
	color: #000;

	p + p {
		margin-top: 1em;
	}
}

.home {
	color: #000;
}
