.links {
	grid-area: links;
	z-index: 10;
	position: relative;

	margin-left: calc(var(--space) * -1);

	@media (--v-md) {
		margin-left: 0;
	}
}

.group {
	position: relative;

	pointer-events: all;

	display: grid;
	gap: var(--space);
	grid-auto-columns: min-content;
	grid-template-rows: 1fr;

	grid-auto-flow: column;

	width: max-content;

	background-color: rgba(255, 255, 255, 0.1);
	padding: 0.5rem 1rem;
	border-radius: 1rem;

	backdrop-filter: blur(10px);

	@media (--v-md) {
		position: fixed;
	}
}

.link {
	font-weight: var(--fw-semibold);
	font-size: 24px;

	display: block;

	border-radius: 50%;

	display: flex;
	align-items: center;

	padding: 10px;

	filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));

	color: rgb(var(--theme-links));
	transition: color 0.2s ease-out, background-color 0.2s ease-out;

	&:hover {
		color: rgb(var(--color-main));
		background-color: #fff;
	}
}

.active {
	text-decoration: underline;
}

.icon {
	width: 32px;
	height: 32px;
	display: block;

	@media (--v-md) {
		width: 48px;
		height: 48px;
	}
}
